body {
  margin: 0;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 100vh;
  width: 100vh;
  margin: 0 auto;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.light {
  background-color: rgb(235, 198, 144);
}

.dark {
  background-color: rgb(129, 75, 48);
}

.selected {
  background-color: rgb(41, 164, 41) !important;
}

.suggestion {
  background-color: rgb(180, 41, 41) !important;
}

.piece {
  height: 100%;
  width: 100%;
}
